h1{
    text-align:center;
    color: white;
}

body{
    background-color: lightblue;
    text-align: center;
}

#text{
    font-weight: bold;
    color: white;
}

#input{
    height: 30px;
    border-radius: 30%;
    margin-bottom: 10px
}
#button{
    background-color: pink;
    height: 30px;
    margin-bottom:15px;
}