body {
  background-image: url("bg.png");
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 100px;
}

.Überschrift {
  display: inline-block;
  position: absolute;
  font-size:30px;
  font-weight: bolder;
  text-align: left;
  margin-top: -100px;
  margin-left: -20px;
  transform: translate(-50%, -50%);
  color: white;
}

.column-left {
  position: absolute;
  float: left;
  width: 140px;
  margin-top: -20px;
  margin-left: -170px;
  text-align: center;
}

.column-middle {
  position: absolute;
  float: left;
  width: 140px;
  margin-top: -20px;
  margin-left: -10px;
  text-align: center;
}

.column-right {
  position: absolute;
  float: left;
  width: 160px;
  margin-top: -20px;
  margin-left: 160px;
  text-align: center;
}

.column-down-left {
  position: absolute;
  float: left;
  width: 250px;
  margin-top: 100px;
  margin-left: -134px;
  text-align: center;
}

.column-down-right {
  position: absolute;
  float: left;
  width: 240px;
  margin-top: 100px;
  margin-left: 130px;
  text-align: center;
}